{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="message">Your Message:</label>
      <br>
    <textarea cols="80" rows="10" id="message" type="text" name="message" required>
</textarea>
    <!--<input class = "msg" name="message" id="message">-->
      <br>
    <label for="user">Your Name or Handle:</label>
      <br>
    <input name="user" id="user" required>
      <br>
    <input type="submit" value="Submit message">
  </form>

  {% if name %}
    Thanks for submitting a message!
  {% endif %}

  {% if error %}
    <br>
    Please fill out both your message and your handle.
  {% endif %}
{% endblock %}