{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Some Cool Messages{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if msgs %}
<p>Here are some of the messages people have sent!</p>
    <br>
    <br>
    {% for msg in msgs %}
        <div> "{{ msg[1] }}"
            <br> &emsp;- {{ msg[0] }}
    </div>
    <br>
    {% endfor %}
  {% endif %}

  {% if error %}
    <br>
    We could not display any messages. This is because there are no messages stored.
  {% endif %}
{% endblock %}