{% extends 'base.html' %}

{% block title %} Submit a Message {% endblock %}

{% block header %}
  <h1> Submit a Message </h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="message">Your Message:</label>
      <br>
    <textarea cols="80" rows="10" id="message" type="text" name="message" required>
</textarea>
    <!--<input class = "msg" name="message" id="message">-->
      <br>
    <label for="user">Your Name or Handle:</label>
      <br>
    <input name="user" id="user" required>
      <br>
      <div class="text-center">
    <input type="submit" value="Submit message">
      </div>
  </form>

  {% if msg %}
Thanks for submitting a message! Here is your message:
<br>
<p> {{msg}} </p>
  {% endif %}

  {% if error %}
    <br>
    Please fill out both your message and your handle.
  {% endif %}
{% endblock %}